

body {
    color: black;
    margin: 0 auto;
    width: 850px;
    font-family: Ubuntu, sans-serif; 
    }
    main {
        position: relative;
        text-align: center;
        color: white;
        Height: auto;
        width: auto;
        Font-size: 100px;
        font-style: bold;
    }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

section {
        border: 0pt solid black;
        background-color: rgb(233, 229, 229);
        margin-top: 1px;
        margin-bottom: 10pt;
        padding-bottom: 50pt;
        display: flex;
        justify-content: space-evenly;
        height: 324px;
        width: 850px;


    }

    article {
        justify-content: space-between;
        width: 270px;
        margin-left: 30px;
        margin-right: 30px;

    }

    H2 {
        font-style: bold;
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 14px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
      }

      .btn send {background-color: #181818; 
        color: black;
    } 
   
