

body {
    color: black;
    margin: 0 auto;
    width: 850px;
    font-family: Ubuntu, sans-serif; 
    }
    main {
        position: relative;
        text-align: center;
        color: white;
        Height: auto;
        width: auto;
        Font-size: 100px;
        font-style: bold;
    }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

section {
        border: 0pt solid black;
        background-color: rgb(230,230,230);
        margin-top: 1px;
        margin-bottom: 10pt;
        padding-bottom: 50pt;
        display: flex;
        justify-content: space-evenly;
        height: 324px;
        width: 850px;


    }

    article {
        justify-content: space-between;
        width: 270px;
        margin-left: 30px;
        margin-right: 30px;

    }

    H2 {
        font-style: bold;
    }

    button {
      background-color: #303130;
      border: none;
      color: white;
      padding: 9px 13px;
      margin-top: 7px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      Height: auto;
      width: auto; 
    }
   
